{% extends 'base.html' %}
{% load static %}
{% block title %}Bizbirge.biz{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <div class="container mb-3">
        <form class="form-inline" action="{% url 'webapp:ad_list' type='search' %}" method="GET">
            {% include 'partial/simple_search.html' %}
            <input type="submit" class='btn btn-dark search-button' value="Поиск">
        </form>
    </div>
    <div class="container">
        <div class="ads-index-table">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Номер</th>
                    <th scope="col">Город</th>
                    <th scope="col">Тип</th>
                    <th scope="col" colspan="2">Описание</th>
                    {% if request.user.is_superuser %}
                        <th scope="col">Удаление</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for ad in ad %}
                    <tr>
                        <td>{{ ad.number }}</td>
                        <td>{{ ad.city }}</td>
                        <td>{{ ad.get_group_display }}</td>
                        <td colspan="2">{{ ad.description }}</td>
                    {% if request.user.is_superuser %}
                        <td>
                            {% if ad.status == 'active' and ad.ad_type != 'can_consult'%}
                                <a href="{% url 'webapp:ad_to_delete' ad.pk %}">Уже помогли</a>
                            {% elif ad.status == 'deactivated' %}
                                <a href="{% url 'webapp:ad_activate' ad.pk %}">Активировать</a>
                            {% elif  ad.ad_type == 'can_consult' %}
                                <a href="{% url 'webapp:ad_to_delete' ad.pk %}">Удалить</a>
                            {% endif %}

                        </td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'partial/pagination.html' %}

{% endblock %}
{% block scripts %}
{% endblock %}