{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block styles %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a href="https://www.instagram.com/bizbirge.biz/" class="navbar-brand" target="_blank">@Bizbirge.biz</a>
            <p>Наша сила в единстве!</p>
            <p>0702411324</p>
            {% if request.user.is_authenticated %}
                {{ request.user }}!
                <a class="login  d-flex btn btn-info " href="{% url 'accounts:logout' %}" role="button">Выйти</a>
                <a href="{% url 'webapp:deactivated_list' %}" role="button" class="btn btn-info">Деактивированные</a>
            {% endif %}
        </div>
    </nav>
    <div class="container d-flex justify-content-around my-3 flex-wrap ad-buttons create-btns">
        <a href="{% url 'webapp:ad_create' type='need_help'%}" role="button" class="btn btn-light text-uppercase my-1">Нужна помощь</a>
        <a href="{% url 'webapp:ad_create' type='can_help'%}" role="button" class="btn btn-light text-uppercase my-1">Могу помочь</a>
    </div>
</header>
{% include "partial/messages.html" %}
{% block content %}{% endblock %}

<footer>
    <div class="container-fluid mt-4 d-flex justify-content-center align-items-center">
        <p>Разработано <a href="https://www.instagram.com/akyl.aydarbekov/">@aydarbekov</a></p>
    </div>
</footer>
<script type="application/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script type="application/javascript" src="{% static 'js/bootstrap.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>