{% extends 'base.html' %}
{% load static %}
{% block title %}Jardam{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="ads-index-table">
            <h3>Нужна помощь</h3>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="col1">#</th>
                    <th scope="col">Номер</th>
                    <th scope="col">Город</th>
                    <th scope="col">Тип</th>
                    <th scope="col" colspan="2">Описание</th>
                    <th scope="col">Удаление</th>
                </tr>
                </thead>
                <tbody>
                {% for ad in ads_sorted %}
                    <tr>
                        <th scope="row" class="col1">{{ forloop.counter }}</th>
                        <td>{{ ad.number }}</td>
                        <td>{{ ad.city }}</td>
                        <td>{{ ad.group }}</td>
                        <td colspan="2">{{ ad.description }}</td>
                        <td>
                            {% if ad.status == 'active' %}
                                <a href="{% url 'webapp:ad_to_delete' ad.pk %}">Уже помогли</a>
                            {% elif ad.status == 'deactivated' %}
                                <a href="{% url 'webapp:ad_activate' ad.pk %}">Активировать</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'webapp:ad_list' 'need_help' %}" role="button" class="btn btn-secondary to-list">Перейти к полному списку</a>
        </div>
        <div class="ads-index-table mt-3">
            <h3>Могу помочь</h3>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="col1">#</th>
                    <th scope="col">Номер</th>
                    <th scope="col">Город</th>
                    <th scope="col">Тип</th>
                    <th scope="col" colspan="2">Описание</th>
                    <th scope="col">Удаление</th>
                </tr>
                </thead>
                <tbody>
                {% for ad in ads_sorted_can_help %}
                    <tr>
                        <th scope="row" class="col1">{{ forloop.counter }}</th>
                        <td>{{ ad.number }}</td>
                        <td>{{ ad.city }}</td>
                        <td>{{ ad.group }}</td>
                        <td colspan="2">{{ ad.description }}</td>
                        <td>
                            {% if ad.status == 'active' %}
                                <a href="{% url 'webapp:ad_to_delete' ad.pk %}">Уже помогли</a>
                            {% elif ad.status == 'deactivated' %}
                                <a href="{% url 'webapp:ad_activate' ad.pk %}">Активировать</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'webapp:ad_list' 'can_help' %}"class="btn btn-secondary to-list">Перейти к полному списку</a>
        </div>
        <div class="ads-index-table mt-3">
            <h3>Могу проконсультировать</h3>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="col1">#</th>
                    <th scope="col">Номер</th>
                    <th scope="col">Город</th>
                    <th scope="col">Тип</th>
                    <th scope="col" colspan="2">Описание</th>
                    <th scope="col">Удаление</th>
                </tr>
                </thead>
                <tbody>
                {% for ad in ads_sorted_can_consult %}
                    <tr>
                        <th scope="row" class="col1">{{ forloop.counter }}</th>
                        <td>{{ ad.number }}</td>
                        <td>{{ ad.city }}</td>
                        <td>{{ ad.group }}</td>
                        <td colspan="2">{{ ad.description }}</td>
                        <td><a href="{% url 'webapp:ad_to_delete' ad.pk %}">Удалить</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'webapp:ad_list' 'can_consult' %}" role="button" class="btn btn-secondary to-list">Перейти к полному списку</a>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    {#    <script type="application/javascript" src="{% static "js/index.js" %}"></script>#}
{% endblock %}