body{
	font-family: roboto, arial, sans-serif;
	margin: 0;
}
.table a{
    color: red!important;
}


@media screen and (max-width:576px) {
    .table {
        font-size: 8px!important;
        table-layout: fixed!important;
    }
    .col1 {
        width: 10px;
        padding: 0;
    }
    .table th, .table td {
        padding: 10px 5px;
    }
    .ads-index-table h3{
        font-size: 15px;
    }
    .to-list{
        font-size: 10px;
    }
    .search-input{
        width: 50%;
    }
}