body{
	font-family: roboto, arial, sans-serif;
	margin: 0;
}
.table a{
    color: red!important;
}
footer .container-fluid{
    height: 100px;
    background-color: #343a40;
    color: white;
}
footer .container-fluid a{
    color: lightblue;
}
.navbar-brand{
    font-weight: 600;
    font-size: 25px;
    color: lightslategray!important;
}
.navbar p{
    font-weight: 600!important;
    font-size: 25px;
    color: lightslategray!important;
    margin: 0;
    margin-left: -109px;
}
.ad-buttons a{
    font-weight: 500;
}
.ads-index-table h3{
        text-align: center;
    }


@media screen and (max-width:576px) {
    .table {
        font-size: 8px!important;
        table-layout: fixed!important;
    }
    .col1 {
        width: 10px;
        padding: 0;
    }
    .table th, .table td {
        padding: 10px 5px;
    }
    .ads-index-table h3{
        font-size: 15px;
    }
    .to-list{
        font-size: 10px;
    }
    .search-input{
        width: 50%;
    }
    .navbar-brand{
        font-size: 15px;
    }
    .navbar p {
    font-weight: 600!important;
    font-size: 10px;
}
}